{% load static %} 

<div id="btn_part" class="text">
    <div id="adrnum">
        Адрес: <br>
        Минский р-н, д. Боровая, 3, АБК, 2-й этаж, каб. 42<br><br>

        +375 17 510-93-63(сантехника)<br>
        +375 44 5-334-944(сантехника)<br>
        +375 44 5-934-944(сварка)<br>
        +375 17 510-90-12(сварка)
    </div>

    <a id="inst" href="https://www.instagram.com/belakvaplast/">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a id="logoback" href="/">
        <div >
            <img src="{% static 'picture/logo.png' %}" width="266" / class="image shadow brdrad">
        </div>
    </a> 
    <div id="rights">
        © 1999 - 2021 БелАкваПласт – Оптовая и розничная торговля
    </div>

</div>