{% extends template %} <!-- Загружаем шаблон в который будет вставлять между % block content  %
    и % endblock  % другие любые шаблоны, также адреса шаблонов можно загружать через словарь Context -->
{% block content  %}

{% for page_part in before_page_parts  %} 
    {% include page_part %} 
{% endfor %}
{% load static %} 
<div id="category"> 
    <div id="cathead">
        <div id="namepage" class="text">
            <h2>{{title}}</h2>
            <a name="toparticle"></a>
        </div>
    </div>

    <div id="main-info" class="text weith">
        <p>
            <b>Компания "БелАкваПласт"</b> - это современная, динамично развивающаяся,
            опытная и надежная компания. За небольшой период работы на белорусском
            рынке организация достигла существенных результатов в поставках
            <b>сварочной и сантехнической продукции</b>. Это два основных направления работы организации.
            И в одном, и в другом направлении сложились устойчивые отношения со многими
            предприятиями Беларуси.
        </p>
        
        <p>
            Что касается сварочной продукции наши основные товары - 
            это <b>электроды Континент и ЭСАБ</b>, круги отрезные, зачистные,
            епестковые, сварочная проволока, электрододержатели,
            маски сварщика и др. На всю эту продукцию установлены
            приемлимые цены и бесплатная доставка.
        </p>
        <img class="image-to-cut" src="{%  static 'picture/about_company/ab_com_1.jpg' %}" >
        <p>
            Компания является дилером белорусских и зарубежных заводов по
            производству <b>труб ПВХ, полиэтиленовых труб</b>, стальных труб,
            деталей трубопровода, запорной и соединительной арматуры.
            Вся продукция в основном доставляется прямо на объект заказчика,
            так как у компании свой автомобильный парк.
        </p>
        <img class="image-to-cut" src="{%  static 'picture/about_company/ab_com_2.jpg' %}" >
        <p>
            Нашими основными партнерами являются такие организации как ОАО "Забудова",
            ООО "Вко Инстал", ООО "Буд М", ООО "Илмакс", ОАО "БелСантехМонтаж",
            СООО "Магнус Групп", ООО "Монолитгрупп", ООО "Полымя", ОАО "Беларуснефть" и др.
        </p>
        <p>
            Сила нашей компании в нашем коллективе. Так как у нас в организации работают
            только квалифицированные, профессиональные сотрудники, которые всегда оперативно
            включаются в работу, начиная с принятия заявки и технической консультации и
            заканчивая доставкой продукции на объект заказчика. Все менеджеры и водители
            всегда вежливы и внимательны. 
        </p>
        <img class="image-to-cut" src="{%  static 'picture/about_company/ab_com_3.jpg' %}" >
        <p>
            И последнее. Путь к успеху любого человека и любой компании лежит через
            многочисленные достижения. Каждое достижение, являясь результатом упорного труда,
            постепенно приближает нас к заветной цели. Надеемся ,что и для Вашей компании
            станем надежным партнером и другом в осуществлении Ваших самых амбициозных проектов!
            <b>БелАкваПласт - На волне достижений!</b> 
        </p>
        <img class="image-to-cut" src="{%  static 'picture/about_company/ab_com_4.png' %}" >
    </div>
</div>

{% for page_part in after_page_parts  %} 
    {% include page_part %} 
{% endfor %}

{% endblock  %}