{% extends template %} <!-- Загружаем шаблон в который будет вставлять между % block content  %
    и % endblock  % другие любые шаблоны, также адреса шаблонов можно загружать через словарь Context -->
{% block content  %}

{% for page_part in before_page_parts  %} 
    {% include page_part %} 
{% endfor %}
{% load static %} 
<div id="category"> 
    <div id="cathead">
        <div id="namepage" class="text">
            <h2>{{title}}</h2>
            <a name="toparticle"></a>
        </div>
    </div>

    <div id="main-info" class="text weith">
        <h3>Минский р-н, д. Боровая, 3, АБК, 2-й этаж, каб. 42.</h3>
        <p>
            8 017 510-93-63 (сантехника), +375 445-334-944 (сантехника),
            8 017 510-90-12 сварка), +375 445-934-944 (сварка),
            8 017 542 47 43 (бухгалтерия)
        </p>
        <h4>Наши координаты для навигатора: 53.966732, 27.650771</h4>
        <p>
            Здание находится на пересечении Логойской трассы и трассы
            "Заславль-Колодищи". Недалеко находятся супермаркет "ГИППО" и заправка А100. 
        </p>
        <img class="image-to-cut" src="{%  static 'picture/way.jpg' %}" >

        <p class="reded">
            Внимание!  Для получения товара при себе иметь платежное поручение,
            доверенность или печать с приказом о назначении директора. Приезд
            физических лиц только по предварительному звонку!!!
        </p>
        <p>
            <a class="greened" href="mailto:belakvaplast@mail.ru">
                info@akvaplast.by
            </a>
        </p>
        <p>
            Работаем с 9:00 до 18:00 ПН-ПТ. По предворительной договоренности может
            быть организована отгрузка в субботу.
        </p>
        <h4>Наши реквизиты:</h4>

        <table>
            <tr>
                <td>Полное наименование</td>
                <td>Общество с ограниченной ответственностью «БелАкваПласт»</td>
            </tr>
            <tr>
                <td>Сокращенное наименование</td>
                <td>ООО «БелАкваПласт»</td>
            </tr>
            <tr>
                <td>Юридический и почтовый адрес</td>
                <td>223053, Минский р-н, д. Боровая, 3, АБК, к.42.</td>
            </tr>
            <tr>
                <td>УНП</td>
                <td>УНП 691779704</td>
            </tr>
            <tr>
                <td>ОКПО</td>
                <td>304251746000</td>
            </tr>
            <tr>
                <td>Банковские реквизиты</td>
                <td>BY96BPSB30121711370179330000 код BPSBBY2X</td>
            </tr>
            <tr>
                <td>Банк</td>
                <td>РД№700 ОАО «БПС-Сбербанк»</td>
            </tr>
            <tr>
                <td>Адрес банка</td>
                <td>220035 г. Минск, пр-т Машерова, д.80</td>
            </tr>
            <tr>
                <td>Skype: (сантехника)</td>
                <td>raketskaya.tanya</td>
            </tr>
            <tr>
                <td>Skype: (сварка)</td>
                <td>ingsweta</td>
            </tr>
            <tr>
                <td>Viber: (сантехника)</td>
                <td>+375 44 5 334 944</td>
            </tr>
            <tr>
                <td>Viber: (сварка)</td>
                <td>+375 44 5 934 944</td>
            </tr>
        </table>

        <div id="map"></div>
        
    </div>
</div>

{% for page_part in after_page_parts  %} 
    {% include page_part %} 
{% endfor %}

{% endblock  %}