<div id="promodescribe" class="text">
    <h2>
        Бесплатная доставка электродов континент, сварочной проволоки и др. товаров!!!!
    </h2>
    <p>
        Компания БелАкваПласт спешит порадовать наших друзей отличной акцией.
        А именно - Бесплатная Доставка любой продукции во все уголки Беларуси!
    </p>
    <p>
        Компания БелАкваПласт всегда идет на встречу клиентам и поэтому
         в нашей организации за счет высококвалифицированного отдела логистики
          и наличия собственного транспорта организована бесплатная доставка
           продукции не только по городу Минск,
         но и по всей Беларуси.
    </p>
    <h2>
        В каких случаях осуществляется бесплатная доставка?
    </h2>
    <p>
        1) Доставка производится бесплатно по городу 
        Минск при покупке сварочных электродов, сварочной
         проволоки от 100 кг либо других товаров на сумму от
         300 белорусских рублей. При меньшей сумме заказа
          доставка может быть платной, около 20р.
    </p>
    <p>
        2) Доставка производится бесплатно по Минскому р-ну при
         покупке электродов и сварочной проволоки от 200 кг либо
          других толваров на сумму от 500 белорусских рублей при
         габоритах груза до 3-х метров. При меньшей сумме заказа
          доставка может быть платной, около 30-40р.
    </p>
    <p>
        3) Доставка производится бесплатно по территории Республики
         Беларусь при покупке электродов и сварочной проволоки
          от 500 кг, а также другой продукции, более подробно
           помогут определить, будет ли бесплатная доставка наши менеджеры.
    </p>
    <p>
        4) В остальных случаях также может быть бесплатная доставка по согласованию сторон.
    </p>
</div>