{% extends template %} <!-- Загружаем шаблон в который будет вставлять между % block content  %
    и % endblock  % другие любые шаблоны, также адреса шаблонов можно загружать через словарь Context -->
{% block content  %}

{% for page_part in before_page_parts  %} 
    {% include page_part %} 
{% endfor %}
{% load static %} 
<div id="category"> 
    <div id="cathead">
        <div id="namepage" class="text">
            <h2>{{title}}</h2>
            <a name="toparticle"></a>
        </div>
    </div>

    <div id="main-info" class="text weith">
        <h2>Оплата</h2>
        <p>
            Если Вы представляете <b>организацию</b>, то сначала Вы сбрасываете
            нам свои реквизиты. Затем, после получения счет фактуры от нас,
            вы можете произвести оплату на наш расчетный счет. Вот наши реквезиты: 
        </p>
        <p>УНП: 691779704</p>
        <p>ОКПО: 304251746000</p>
        <p>р/с: 3012171137017 код 369</p>
        <p>Банк: РД№700 ОАО «БПС-Сбербанк»</p>
        <p>Адрес банка: 220035 г. Минск, пр-т Машерова, д.803</p>
        <p class="reded">
            Внимание!!!! Приезд физических лиц только по предварительному звонку!
            Обязательно, прежде чем ехать, уточните наличие товара у менеджера!
        </p>

        <p>Если Вы - <b>физическое лицо</b>, то варианты оплаты следующие:</p>
        <p>
            1) Вы приезжаете к нам на офис (склад и офис у нас располагаются по одному адресу,
            <a class="greened" href="/contacts/">ПОСМОТРЕТЬ СХЕМУ ПРОЕЗДА</a>
            ), и можете забрать продукцию и рассчитаться наличными, в офисе установлен кассовый аппарат
        </p>
        <p>
            2) Если Вы подпадаете под бесплатную доставку (это просчитает менеджер) либо мы
            платно доставляем Вам продукцию собственным транспортом, то рассчет производится
            с нашим водителем наличными с помощью кассового аппарата
        </p>
        <p>
            3) Если доставка производится попутным привлеченным транспортом, либо если
            нужно оплатить за заказные позиции, то мы принимаем оплату через банк. Мы ждем от
            Вас паспортные данные, их можно прислать на наш факс 8 017 510-93-63 или на
            электронную почту belakvaplast@mail.ru . Далее мы делаем счет-фактуру,
            высылаем Вам её на электронную почту. По этому документу Вы оплачиваете,
            желательно в ОАО «Белинвестбанк», так как там берется небольшая комиссия,
            а в остальных банках 2 и более процента. Далее высылаете нам квитанцию и 
            можно забирать продукцию, или мы ее доставляем сами, если это предусматривают
            наши предварительные договоренности.
        </p>
        <img class="image-to-cut" src="{%  static 'picture/shipping_and_payment/sp_1.jpg' %}" >
        <h2>Доставка</h2>
        <h2>
            Внимание! Приезд физических лиц только по предварительному звонку!
        </h2>
        <p>
            У Компании БелАкваПласт имеется свой собственный автопарк, с помощью которого
            и осуществляется доставка продукции.
        </p>
        <p>
            Чтобы заказчику получить груз, есть три варианта:
        </p>
        <p>
            -<b>самовывоз</b> (заказчик сам приезжает на наш склад за продукцией)
        </p>
        <p>
            -<b>бесплатная доставка</b> (если по объему купленного товара клиент попадает под акцию
            <a class="greened" href="/promotion/">"Бесплатная доставка"</a>)
        </p>
        <p>
            -<b>платная доставка</b> (У Компании БелАкваПласт имеется свой собственный автопарк
            и мощный отдел логистики, с помощью которого и осуществляется доставка
            продукции по приемлимым ценам на склад, офис или объект заказчика,
            цены на перевозки минимальны, так как товары клиента доставляются попутно и комплексно)
        </p>
        <img class="image-to-cut" src="{%  static 'picture/shipping_and_payment/sp_2.jpg' %}" >
    </div>
</div>

{% for page_part in after_page_parts  %} 
    {% include page_part %} 
{% endfor %}

{% endblock  %}