#category {
    background-color: #4D5E71;
    margin-top: 5px;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#phoneshelp {
    background-color: #3B3B3B;
    height: 120px;
    color: #C0C0C0;
    font-size: 24px;
    font-weight:50;
    width: inherit;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
#phoneshelp table {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#cellmidle {
    text-align: center;
}
#cellright {
    text-align: right;
}

#namepage {
    width: 0;
	height: 0;
	border-bottom: 100px solid #C0C0C0; 
	border-right: 1100px solid transparent;
}

#namepage h2 {
    position: relative;
    width: 100%;
    float: left;
    top: 30px;
    left: 20px;
    white-space:nowrap;
}

.product {
    display:inline-block; 
    height: 350px;
    width: 245px;
    border: 1px solid #000;  /* Внешнея граница вокруг блока div */
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #C4C4C2;
    color: #000 !important;
    position: relative;
}

.product:hover img {
    transform: scale(1.1); 
}

.product:hover {
    background-color: #c5c5bb;
}

.product img {
    position: relative;
    top: 10%;
    left: 13%;
    transition: 0.1s; /* Время эффекта */
    background-color: white;
}

.product:hover .productname {
    text-decoration:underline;
}

.productname {
    position: relative;
    float: left;
    top: 18%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 18px;
    max-width: 80%;
    overflow:  hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden; 
}

.availability {
    position: absolute;
    float: left;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 16px;
}

.productprise {
    position: absolute;
    float: right;
    top: 91%;
    right: 50%;
    transform: translate(50%, 0);
    text-align: center;
    font-size: 16px;
}

.greened {
    color: green;
}
.reded {
    color: red;
}

#notfound {
    margin-left: 20px;
    font-size: 20px;
}